MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=emotion_analyzer
SECRET_KEY=your-secret-key-here
DATASET_PATH_RAVDESS=G:/My Drive/EmotionAI_Project/dataset/Actor_01/
DATASET_PATH_FER2013=G:/My Drive/EmotionAI_Project/fer2013
DATASET_PATH_GOEMOTIONS=G:/My Drive/EmotionAI_Project/goemotions_1.csv
MODEL_PATH=./models
UPLOAD_DIR=./uploads
